body {
    background-color: #1f1f1f;
    color: #bfbfbf;
}

.box {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.blueBox {
    background: #627da0;
    position:relative;
    bottom:60px;
}

.container{
    background-color: rgba(0,0,0,0.4);
    width: 200px;
    height:200px;
    position:absolute;

}

.greenBox {
     background: #5b8054;  
}