body {
    background-color: #1f1f1f;
    color: #bfbfbf;
}

.box {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.blueBox {
    background: #627da0;
    top:100px;  /*for static positioning left,top,bottom,right is not working*/
    left:300px;
}

.greenBox {
     background: #5b8054;  
}